<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/dominikstuecheli-105D-Engineering/BetterSlotAssign2/main/Release/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dB8bcs01eeBwk8ElzNaJt9zTB6CvSbELBe2sMemP554=</string>
</dict>
</plist>
